<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.mapper.PostMapper">

    <resultMap type="com.yk.domain.Post" id="PostMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PostMap">
        select
          id, user_id, title, content, category, like_count, comment_count, created_at, updated_at
        from post
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PostMap">
        select
          id, user_id, title, content, category, like_count, comment_count, created_at, updated_at
        from post
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="category != null and category != ''">
                and category = #{category}
            </if>
            <if test="likeCount != null">
                and like_count = #{likeCount}
            </if>
            <if test="commentCount != null">
                and comment_count = #{commentCount}
            </if>
            <if test="createdAt != null">
                and created_at = #{createdAt}
            </if>
            <if test="updatedAt != null">
                and updated_at = #{updatedAt}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from post
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="category != null and category != ''">
                and category = #{category}
            </if>
            <if test="likeCount != null">
                and like_count = #{likeCount}
            </if>
            <if test="commentCount != null">
                and comment_count = #{commentCount}
            </if>
            <if test="createdAt != null">
                and created_at = #{createdAt}
            </if>
            <if test="updatedAt != null">
                and updated_at = #{updatedAt}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into post(user_id, title, content, category, like_count, comment_count, created_at, updated_at)
        values (#{userId}, #{title}, #{content}, #{category}, #{likeCount}, #{commentCount}, #{createdAt}, #{updatedAt})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into post(user_id, title, content, category, like_count, comment_count, created_at, updated_at)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.userId}, #{entity.title}, #{entity.content}, #{entity.category}, #{entity.likeCount}, #{entity.commentCount}, #{entity.createdAt}, #{entity.updatedAt})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into post(user_id, title, content, category, like_count, comment_count, created_at, updated_at)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.title}, #{entity.content}, #{entity.category}, #{entity.likeCount}, #{entity.commentCount}, #{entity.createdAt}, #{entity.updatedAt})
        </foreach>
        on duplicate key update
        user_id = values(user_id),
        title = values(title),
        content = values(content),
        category = values(category),
        like_count = values(like_count),
        comment_count = values(comment_count),
        created_at = values(created_at),
        updated_at = values(updated_at)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update post
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="category != null and category != ''">
                category = #{category},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from post where id = #{id}
    </delete>

</mapper>

